@model MedicInc.Models.Disease
@{
    ViewBag.Title = "Search";
}

<h2 style="text-align:center">Search result</h2>
Name: @Model.Name
<br />
Symprom: @Model.Symptom
<br />
Text: @Model.Info
<br />
<div>
    @Html.ActionLink("Redirect to Home", "Index", "Home", new { @class = "btn btn-warning" })
</div>